.history-card-div{
        width:17.63vw;
        height:50.5vh; 
        padding: 2.69vh 3.23vh; 
        gap: 1.07vh;
        border-radius: 1.89vh;
        border-width: 0.087vw; 
        border-style: solid; 
        opacity: 1;
        box-sizing: border-box; 
        border: 0.073vw solid rgb(129, 129, 129);
        backdrop-filter: blur(9.32vw);
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */

}

.history-header-div{
        width: 100%;
        height: auto; 
        box-sizing: border-box; 
    
}

.history-header-title{

        width: 100%;
        height: 3.15vh;
        font-family: 'SF Pro', sans-serif;
        font-size: var(--font-size-3);
        font-weight: 590;
        line-height:3.20vh;
        text-align: left;
        color: #FFFFFF;
}

.history-header-subtitle{
    width:100%;
    height: 2.84vh;
    gap: 0px;
    opacity: 1;
    font-family: 'SF Pro', sans-serif;
    font-size: var(--font-size-5);
    font-weight: 400;
    line-height:2.82vh;
    text-align: left;
    color: #bdbdbd;
}

.history-img{
    width: 100%; 
    height: 28.3vh;
    border-radius: 1.89vh;
}

.history-img img{
    width: 100%; 
    height: 28.3vh;
    border-radius: 1.89vh;
}


.history-button{
    width: 14.5vw;
    height: 6.86vh; 
}

.histort-cards-bar{
    width: 100%;
    height:0;
    border-radius:8vh;
    border: 0.01vh solid #ffffff71;
}
