.formdiv{
    /* border: 1px solid red; */
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vh;
    border: 0.23vh solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(170.08deg, rgba(255, 255, 255, 0.4) 1.04%, rgba(255, 255, 255, 0.0001) 31.76%, rgba(255, 255, 255, 0.0001) 44.53%, rgba(255, 255, 255, 0.1) 76.76%);
    /* backdrop-filter: blur(100px); */
    overflow: visible; 
    position: relative; 
    /* border: 1px solid red; */
}

.formcontent{
    /* border: 1px solid red; */
    width: 100%;
    height: 9.79vh;
    padding: 2.05vh 0 2.05vh 2.36vh;
    gap: 1.17vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.formbutton{
    /* border: 1px solid red; */
    width: 14.64vw;
    height: 4vh;
    /* padding: 0px 17px 0px 18px; */
    gap: 0px;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: color-dodge;
    background: rgba(94, 94, 94, 0.06); 
    margin-right: 0.73vw;
    overflow: visible; 
    position: relative; 
    color: rgb(255, 255, 255);
    font-family: 'SF Pro', sans-serif;
    font-size: var(--font-size-3);
    font-weight: 590;
    line-height: 3.79vh;
    /* border: 1px solid red; */

}

.formbutton:hover {
    background: rgba(255, 255, 255, 0.20);
    background-blend-mode: lighten;
  }

  .formicon{
    /* border: 1px solid red; */
    height: 2vh;
    width: 2vw;
  }

  .formtitle{
    /* border: 1px solid red; */
    height: 3.79;
    width: 100%;
    font-family: 'SF Pro', sans-serif;
    font-size: var(--font-size-3);
    font-weight: 590;
    line-height: 24px;
    text-align: left;
    color: #FFFFFFF5;
}
