


    /* @media(min-width:1700px)
    {
        .settings-div{
            gap:1vw;
            padding:2vmin 3vmin;
            font-size: 2.5vmin;
            }

        .settings-div img{
            width: 2.5vmin;
            height: 2.5vmin;
         } 
         .nav-items-wrapper{
            margin-top: 1vh;
            gap: 2vmin;
        }
        .nav-container{
            margin: 2vh 1vw;
        }
        .nav-item-active{
            padding: 1vh 1vw;
            border-radius: 1vmin;
         }
         
         .nav-item{
            padding: 1vh 1vw;
            border-radius: 1vmin;
        }
        .nav-name-image{
            gap: 1vw;
            font-size: 2.5vmin;
        }
        .nav-image-div-active{
            width: 3vmin;
            height: 3vmin;
        }
        .nav-image-div{
            width: 3vmin;
            height: 3vmin;
        }
         .nav-image-div-img{
            height: 2vmin;
            width: 2vmin;
        }
    }
 */


