.containerWrapper{
    overflow: hidden;
    height: 100%;
   align-items: center;
   justify-content: center;
    display: flex;
    width: 100%;
    background-image: url('../../../assets/VID/icons/HB_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 90%;
    height: 85%;
}