.wagondiv {
    height: 100%;
    width: 100%;
}

.wagon {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.wagonHeader,
.wagonSubHeader {
    width: 100%;
    height: 10%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color: rgba(10, 71, 163, 1);
}

.wagonSubHeader {
    color: rgba(30, 30, 30, 1);
}

.wagonpages {
    /* border: 1px solid red; */
    height: 80%;
    width: 100%;
}

.wagonEntry {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wagonEntryLeft {
    /* border: 1px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.wagonEntryLeftA {
    /* border: 1px solid red; */
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    border-right: 0.1vh solid white;
}

.wagonEntryLeftAHeader {
    height: 15%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    border-top: 0.1vh solid white;
    border-bottom: 0.1vh solid white;
    width: 100%;
    font-family: 'Instrument Sans', sans-serif;
}

.wagonEntryLeftAContent {
    /* border: 1px solid red;   */
    width: 100%;
    height: 85%;
}

.wagonEntryLeftAButton {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.wagonEntryLeftAButton img {
    height: 100%;
    width: 100%
}

.wagonEntryLeftAOptions {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    gap: 2vh;

}

.wagonEntryLeftB {
    border-right: 0.1vh solid rgb(255, 255, 255);
    height: 100%;
    width: 66.66%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.wagonEntryLeftBHeader {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    border-top: 0.1vh solid white;
    border-bottom: 0.1vh solid white;
    width: 100%;
    padding: 2vh;
    gap: 18vh;
    font-family: 'Instrument Sans', sans-serif;
}

.wagonEntryLeftBContent {
    /* border: 1px solid red; */
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wagonEntryLeftBContentHeader {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    color: rgba(40, 167, 69, 1);
    font-family: 'Instrument Sans', sans-serif;

}

.wagonEntryLeftBContentinnerc {
    width: 100%;
    height: 60%;
}


.wagonEntryLeftBContentinnercrow {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14vh;
}


.inheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup {
    /* border:1px solid red; */
    width: 100%;
    height: 30%
}

.popupHeader {
    /* border:1px solid red; */
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    color: rgba(40, 167, 69, 1);
    font-family: 'Instrument Sans', sans-serif;
}

.popupAction {
    /* border:1px solid red; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.popupButtons {
    /* border: 1px solid red; */
    width: 6vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: white;
    background: rgba(30, 144, 255, 1);
    font-weight: 500;
}


.wagonEntryRight {
    /*{ border: 1px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1vh solid white;
}

.wagonEntryRightHeader,
.wagonEntryRightSubHeader {
    height: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-size: 2vh;
    font-family: 'Instrument Sans', sans-serif;
    padding: 1.5vh;

}

.wagonEntryRightSubHeader {
    align-items: flex-start;
    border-top: 0.1vh solid white;
}

.value {
    font-size: 2vh;
    color: rgba(40, 167, 69, 1);
    font-weight: 700;
}

.paswordTable {
    /* border: 1px solid red; */
    height: 50%;
    width: 50%;
    margin-top: 1vh;
}

.wagonEntryRightActions {
    /* border: 1px solid red; */
    width: 100%;
    height: 20%;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    padding: 1vh
}

.actionDiv {
    /* border: 1px solid red; */
    width: 30%;
    height: 70%;
    background: rgba(30, 144, 255, 1);
    color: white;
    font-size: 2vh;
    font-family: 'Instrument Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}


.wagontypes {
    border: 0.1vh solid rgb(255, 255, 255);
    height: 4vh;
    width: 6vw;
    background: rgba(168, 230, 163, 1);
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.passwordInnerTable {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 0.1vh solid rgb(255, 255, 255);
}

.passwordButton {
    border: 0.001vh solid rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(10, 71, 163, 1);
    color: rgba(168, 230, 163, 1);
    font-size: 3vh;
}

.passwordButton img {
    height: 3vh;
    width: 3vh;
}


.wagonConfirmation {
    width: 100%;
    height: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.wagonConfirmationHeader {
    width: 100%;
    height: 7%;
    font-size: 2vh;
    font-family: 'Instrument Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 500;
    color: rgba(30, 30, 30, 1);
}

.wgCards {
    width: 70%;
    height: 25%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    padding: 0.4vh;
}

.wgcard {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(168, 230, 163, 1);
}

.cardcontent {
    width: 100%;
    height: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(40, 167, 69, 1);
    font-weight: 500;
    font-size: 3vh;
}

.wgcardsData {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.carddatadiv {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.cardInfo {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    gap: 3vh;
}

.cardBox {
    width: 8vw;
    border: 0.1vh solid rgb(0, 0, 0);
    height: 4vh;
    background: white;
    font-size: 2.5vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carddatadivinfo {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    color: rgba(10, 71, 163, 1);
    font-weight: 500;

}



.topinfo {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottominfo {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;
}


.wagonConfirmationActions {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 2vh;
}

.wgcactionButtons {
    height: 6vh;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-size: 700;
    color: white;
    background: rgba(30, 144, 255, 1);
    border: none;

}

.comChecking {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10vh;
}

.checkingScreen {
    border: 0.5vh solid rgb(255, 255, 255);
    height: 15vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2.5vh;
    background: black;
    color: rgba(40, 167, 69, 1);
    font-size: 2.5vh;
    font-weight: 500;
}

.comEstablish {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.verificationScreen {
    width: 100%;
    height: 100%;
    padding: 2vh;
}

.vmHeader,
.vmFooter {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vmFooter {
    color: rgba(30, 30, 30, 1);
    font-size: 2.5vh;
    font-weight: 500;
}

.vmHeaderContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    border-radius: 12vh;
    background: white;
    color: rgba(40, 167, 69, 1);
    font-size: 2.5vh;
    font-weight: 500;
}

.vmContent {
    width: 100%;
    height: 80%;
    padding: 1vh;
    gap: 1vh;
}

.moniterRow {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    font-size: 2.5vh;
    font-weight: 700;
    color: black;
}

.moniterRowleft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
}

.vmmode {
    width: 30%;
    height: 100%;
    border: 0.1vh solid rgb(0, 0, 0);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vmvalue {
    width: 20%;
    height: 100%;
    border: 0.1vh solid rgb(255, 255, 255);
    background: rgba(255, 193, 7, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.moniterRowright {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 1vh;
}

.vmStatus {
    width: 100%;
    height: 100%;
    border: 0.1vh solid rgb(255, 255, 255);
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.insuccesorfail {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
}

.insuccesorfailstatus {
    border: 0.4vh solid white;
    width: 40%;
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;

}

.insuccesorfailResult {
    height: 30%;
    width: 40%;
    border: 0.4vh solid rgb(255, 255, 255);
    background: rgba(229, 57, 53, 1);
    border-radius: 2.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    gap: 2vh;

}

.insuccesorfailinfo {
    width: 100%;
    height: 10%;
    font-family: 'Instrument Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: rgba(30, 30, 30, 1);

}

.ih_layout {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.ih_layout_sectionA {
    /* border: 1px solid red; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;

}

/* inp */

.sA_partA {
    height: 100%;
    width: 81%;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.sA_partA_columns {
    width: 16.66%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sA_partA_columns_header {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sA_partA_columns_content {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    gap: 0.5vh;
}


.syn {
    border: 0.4vh solid white;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    color: white;
    background: rgba(30, 30, 30, 1);

}


.columns_contentkey{
    height: 9.09%;
    width:100%;
    font-size: 2vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
}


.sA_partB_buttons {
    /* border:1px solid red; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    gap: 1vh;
}

.sA_partB_button {
    border: 0.4vh solid rgb(255, 255, 255);
    height: 16.66%;
    width: 100%;
    background: rgba(10, 71, 163, 1);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    gap: 1vh;
}

.sA_partB_button img {
    height: 3vh;
    width: 3vh;
}



.sA_partB_network {
    /* border:1px solid red; */
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.sA_partB_network img {
    height: 100%;
    width: 100%;
}

.sA_partB {
    /* border:1px solid red; */
    height: 100%;
    width: 19%;
}

.ih_layout_sectionB {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sB_part {
    background: rgba(168, 230, 163, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.4vh solid white;
    height: 100%;
    color: rgba(30, 30, 30, 1);
    font-size: 2vh;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
}


.ih_layout_sectionC {
    border: 0.4vh solid rgb(255, 255, 255);
    width: 100%;
    height: 25%;
    background: rgba(30, 30, 30, 1);

}

.comm_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cm_c_a {
    /* border: 1px solid red; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cm_c_a_row {
    width: 100%;
    height: 25%;
    /* border: 1px solid red; */
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    display: flex;
    flex-direction: row;

}

.cm_c_a_row_img {
    /* border: 1px solid red; */
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.cm_c_a_row_img img {
    height: 100%;
    width: 100%;
}

.cm_c_a_row_content {
    /* border: 1px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2vh;
    color: rgba(255, 193, 7, 1);


}

.cm_c_b {
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    font-size: 2vh;
    color: rgba(255, 193, 7, 1);
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.cm_c_c {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vh;
}

.optionsbuttonscontainer {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.opt_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.opt_button img {
    height: 5.7vh;
    width: 6vh;
}

.dataHeader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
}

.dataContent{
    border: 0.4vh solid black;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    gap: 0.5vh; 
    background:white;
    color: rgba(10, 71, 163, 1);
   

}