.container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 70%;
}
.container>*{
    border:var( --border-primary);
    color: var(--color-blue);
    font-size: 0.6rem;
}
.container>:nth-child(2n+1)
{
    display: flex;
    align-items: center;
    padding-left: 1vw;
}
.container>:nth-child(2n)
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset{
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Button1{
    background: var(--color-grey);
    box-shadow: var(--shadow-1);
    border: 0;
    padding: 2vh;
    color: var(--color-white);
    font-size: var( --font-size-4);
    cursor: pointer;
}