.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0 1vh;
}
.container>*{
    border:var(--border-primary);
    color: var(--color-blue);
    font-size: 0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container>:nth-child(2), .container>:nth-child(4), .container>:nth-child(6){
    grid-column: span 3;
}