.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container>:nth-child(1){
    margin: 0.5vh auto;
    font-size: var(--font-size-4);
    font-weight: 600;
    color: var(--color-sky-blue);
}
.ioHome{
    flex: 1;
    border-top: var(--border-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    font-size: var(--font-size-4);
    font-weight: 600;
}
.ioHome>*{
    width: 50%;
    padding:1.2vw;
    text-align: center;
    
}
.ioHome>:nth-child(1){
    background-color: var(--color-sky-blue);
    color: var(--color-dark-blue);
}
.ioHome>:nth-child(2){
    background-color: var(--color-mint-green);
    color: var(--color-green);
    
}
