.slaveScreendiv {
    height: 100%;
    width: 100%;
}

.slave {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.slaveHeader,
.slaveSubHeader {
    width: 100%;
    height: 10%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color: rgba(10, 71, 163, 1);
}

.slaveSubHeader {
    color: rgba(30, 30, 30, 1);
}

.slavepages {
    height: 80%;
    width: 100%;
}


.selectSlavediv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.slaveOptionsDiv {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2vh;
    gap: 2vh;
}

.actionHeader {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color: rgba(10, 71, 163, 1);

}

.actionsButtons {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 2vh;
    padding: 2vh;
}

.actionButton {
    width: 8vw;
    height: 6vh;
    background: rgba(30, 144, 255, 1);
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    border: none;
}

.optionDiv {
    border: 0.4vh solid rgb(255, 255, 255);
    width: 20%;
    height: 60%;
    border-radius: 2vh;
    color: white;
    font-size: 2vh;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(10, 71, 163, 1);

}

.s_ing_process {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_ing_progess {
    border: 0.4vh solid rgb(255, 255, 255);
    font-size: 2.5vh;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    height: 20%;
    width: 40%;
    border-radius: 2vh;
    background: rgba(30, 30, 30, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(40, 167, 69, 1);
}

.contunitypage{
     /* border: 1px solid red; */
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .checkingprocess {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
 }

 .chekingfooter{
    height: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(30, 30, 30, 1);
    font-size: 2.5vh;
    font-weight: 700;
 }

 .sl_ing_suceess{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
 }

 .slinsuccesorfailstatus{
    border: 0.4vh solid white;
    width: 40%;
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
  
  }

  
.slinsuccesorfailResult{
    height: 30%;
    width: 40%;
    border: 0.4vh solid rgb(255, 255, 255);
    background: rgba(229, 57, 53, 1);
    border-radius: 2.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    gap: 2vh;
  
  }
  
  .slinsuccesorfailinfo{
    width: 100%;
    height: 10%;
    font-family: 'Instrument Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: rgba(30, 30, 30, 1);
  
  }  